.custom-textarea {
    background-color: rgb(49, 49, 49);   
    color: yellow;            
    font-family: Consolas, Monaco, monospace;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: none; 
  }
  
  .custom-textarea:focus {
    background-color: rgb(49, 49, 49);  
    color: yellow;            
    outline: none;             
  }
  
  .custom-textarea::placeholder {
    color: rgba(255, 255, 255, 0.7); 
    font-weight: bolds;
  }

  .custom-button {
    margin-right: 10px;
  }